@import "./tailwind.css";
@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;

  display: grid;
  grid-template-rows: 100px 1fr 120px;
  min-height: 100vh;
}

@media only screen and (max-width: 640px) {
  #app {
    padding: 1rem;
    grid-template-rows: 100px 1fr 120px;
  }
}
