@import "./tailwind.css";
@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;

  display: grid;
  grid-template-rows: 100px 1fr 60px;
  min-height: 100vh;
}
